* {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
}

.container {
  margin: auto;
  margin-top: 3rem;
  width: 50%;
}

#login-form-container {
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #ccc;
}

.form-group {
  width: 100%;
  padding-top: 10px;
}

.form-group label {
  display: block;
  padding-bottom: 2px;
}

.form-group input {
  width: 100%;
  padding: 5px 2px;
  font-size: 1.1rem;
}

.btn {
  outline: none;
  padding: 8px;
  background: #f4f4f4;
  border: 1px solid #333;
  border-radius: 2px;
}

#login-button {
  width: 100%;
  margin-top: 10px;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

.btn-primary {
  background-color: #1e90ff;
  border: 1px solid #1e90cc;
  color: #f4f4f4;
  text-transform: uppercase;
}